/* Reset CSS */

/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  body,
  h1, h2, h3, h4, h5, h6,
  p, figure,
  blockquote, dl, dd, ol, ul,
  fieldset, legend {
    margin: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'], ol[role='list'] {
    list-style: none;
  }
  
  /* Remove default padding */
  html {
    padding: 0;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;

  }
